# Dependencies
node_modules/
.bun/

# Build outputs
dist/
build/
.next/
*.tsbuildinfo

# Environment & Secrets
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temp & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
.agents/

.github/

tools/
*.zip

